{
  "targets": "last 2 chrome versions",
  "presets": [
    ["@babel/preset-env", { "bugfixes": true }],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ]
}
